#mainflexPlanering {
  display: grid;
  text-align: left;
  grid-template-columns: 37% 63%;
  height: 50px;
}


#planeringsruta {
  display: flex;
  width: 100%;
  justify-content: left;
  margin-bottom: 20px;
  margin-top: 50px;
}

.prio {
  width: 5%;
  text-align: center;
  margin-right: 20px;
  background-color: transparent;
  border-radius: 10px;
  font-size: xx-large;
}

.maskin {
  width: 22%;
  grid-column: 2;
  margin-right: 20px;
  background-color: transparent;
  border-radius: 10px;
  font-size: xx-large;
  text-align: center;
}

.beskrivning {
  width: 40%;
  text-align: center;
  margin-right: 20px;
  background-color: transparent;
  border-radius: 10px;
  font-size: xx-large;

}

.när {
  width: 20%;
  text-align: center;
  margin-right: 20px;
  background-color: transparent;
  border-radius: 10px;
  font-size: xx-large;
}

.klart {
  width: 10%;
  text-align: center;
  margin-right: 20px;
  background-color: transparent;
  border-radius: 10px;
  font-size: xx-large;
}


#planeringRemoveEdit {
  display: flex;
  margin-top: 0.65%;
  width: 5%;
}

.removePlanering {
  cursor: pointer;
  width: 70%;
  justify-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-self: flex-start;
}

.removePlanering:hover {
  transform: scale(1.1);
}

.moreInfoPlanering {
  cursor: pointer;
  width: 70%;
  justify-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}

.moreInfoPlanering:hover {
  transform: scale(1.1);
}



#serchPlanering {
  grid-row: 1;
  width: 10em;
  margin-left: 40%;
  height: 45%;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 400;
  font-size: 30%;
  margin-top: 1.7%;
}

#serchPlanering::placeholder {
  font-size: 100%;
  text-align: center;
  padding: 2px;
}

.infoRubrik {
  display: flex;
  justify-items: center;
}

.extraInfoPlanering {
  background: linear-gradient(89deg, #FFFFE0 0%, #d2f3dd 100%);
  width: 70%;
  position: absolute;
  border-radius: 20px;
  height: 60%;
  margin-left: 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 3px solid;
}

#extraInfoRubrik {
  display: grid;
  grid-template-columns: 97% 3%;
  justify-self: center;
}

#extraInfoMaskin {
  justify-self: center;
  display: flex;
  grid-row: 1;
}

#extraInfoRemove {
  justify-self: flex-end;
  display: flex;
  grid-row: 1;
}

#extraInfoRemove:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.extraInfoText {
  height: 80%;
  width: 80%;
  border-radius: 20px;
  font-size: x-large;
}

#rutaTaBortPlanering {
  background: linear-gradient(89deg, #FFFFE0 0%, #d2f3dd 100%);
  height: 5em;
  width: 12em;
  font-size: medium;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
  position: absolute;
  right: 20px;
}

#TaBortTextPlanering {
  grid-column: span 2;
  margin: 0px;
}

.TaBortJaPlanering {
  grid-row: 2;
  cursor: pointer;
  border: 1px solid;
  margin: 20px;
  border-radius: 20px;
}

.TaBortJaPlanering:hover {
  transform: scale(1.1);
}